*{
    margin: 0;
    padding: 0;
    
  }
  .myapp {
    text-align: center;
    color: rgb(212, 69, 193);
   
    
  }
  .main_div{
    height: 150vh;
    width: 100vw;
    background-color: whitesmoke;
  }
  .searchBox{
    padding: 3rem;
  }
  .listLink{
    display: flex;
    justify-content: space-between;
   padding:0 4rem;
  }
  .myName{
    color: blueviolet;
    cursor: pointer;
  }
  .icn{
    height: 30px;
    /* border:  red 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }